body {
  background-color: #111;
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding: 2rem;
}

.container {
  max-width: 600px;
  margin: auto;
}

hr {
  margin: 2rem 0;
  border: 1px solid #444;
}
